*{
    margin: 0;
    padding: 0;
}
#login{
    height: 408px;
    width: 368px;
    position: absolute;
    /*background-color: white;*/
    border: 1px;
    top: 20%;
    right: 15%;
    opacity: 80%;
}


#login .login-title .p1{
    display: inline-block;
    font-size: 28px;
    margin-top: 30px;
    width: 86%;
}
#login .login-title{
    width: 86%;
    border-bottom: 1px solid #ee7700;
    margin-bottom: 60px ;
    margin-top:0px ;
    margin-right: auto;
    margin-left: auto;
}

#login .lgD {
    width: 86%;
    position: relative;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#login .lgD input{
    width: 100%;
    height: 42px;
    text-indent: 2.5rem;
}
#login_commit{
    width: 100%;
    height: 45px;
    background-color: #ee7700;
    border: none;
    color: white;
    font-size: 18px;
}
body{
    background-image: url("../img/StarrySky.jpg");
    background-repeat: no-repeat;
    background-size: 100% ;
}