<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vic'bolg</title>
</head>
<body>
    <!--header-->
    <header role="header">
        <div class="container">
            <h1>
                <a href="/" title=" avana LLC">
                    <img src="../static/img/logo.PNG" style="width: 66px" title="avana LLC" alt=" LLC">
                </a>
                <nav role="header-nav" class="navy">
                    <div id="menu-button">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        "Navigation"
                    </div>
                </nav>
                
            </h1>

        </div>
    </header>
</body>
</html>